@import "../../common/global";

.form {
  display: grid;
  grid-template:
    ". card ." 1fr
    / 2fr 3fr 2fr;
  height: auto;
  background-color: $background;
}

.card {
  grid-area: card;
  place-self: center;
  display: grid;
  grid-template:
    "title" 2fr
    "location" 2fr
    "price" 2fr
    "type" 2fr
    "time" 2fr
    "submit" 2fr
    / auto;
  height: 82%;
  padding: 0 2rem;
  background-color: $primary;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.cardTitle {
  grid-area: title;
  place-self: center;
  font-size: 2.5rem;
  font-weight: $bold;
}

.inputLabel {
  font-size: 1.75rem;
  font-weight: $bold;
  padding: 0 0 0.5rem 0;
}

.form-control {
  color: $text-2;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}

.form-control:focus {
  color: $text-2;
}

.locationInput {
  grid-area: location;
  justify-self: start;
  align-self: center;
  width: 100%;
}

.priceRangeInput {
  grid-area: price;
  justify-self: start;
  align-self: center;
  width: 100%;
}

.typeInput {
  grid-area: type;
  justify-self: start;
  align-self: center;
  width: 100%;
}

.timeInputs {
  grid-area: time;
  justify-self: start;
  align-self: center;
  width: 100%;
}

.timeInputDivider {
  font-size: 2rem;
}

.submitButton {
  grid-area: submit;
  place-self: center;
  display: inline-block;
  background-color: $text-1;
  font-size: 2rem;
  font-weight: $bold;
  color: $text-2;
  padding: 1rem 3.5rem;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  border: none;
}

.submitButton:hover {
  -webkit-box-shadow: $box-shadow-hover;
  -moz-box-shadow: $box-shadow-hover;
  box-shadow: $box-shadow-hover;
  transform: translateY(-1px);
  cursor: pointer;
}

.submitButton:disabled {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  transform: none;
  cursor: default;
  opacity: 0.75;
}

.loader {
  grid-area: submit;
  place-self: center;
  display: inline-block;
}
