@import "../../../common/global";

#mapContainer {
  height: 100%;
}

.popup {
  background: $text-1;
  color: $text-2;
  padding: 0.5rem;
}

.popup .title {
  font-size: 1.25rem;
  font-weight: $bold;
  color: $text-2;
  padding: 0 0 0.5rem 0;
}

.popup a {
  color: $text-2;
}

.popup a:hover {
  color: $primary;
  text-decoration: none;
}
