@import "../../common/global";

.button {
  display: inline-block;
  color: $text-2;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 3.5rem;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.button:hover {
  -webkit-box-shadow: $box-shadow-hover;
  -moz-box-shadow: $box-shadow-hover;
  box-shadow: $box-shadow-hover;
  transform: translateY(-1px);
}
